{
    "openapi": "3.0.0",
    "info": {
        "title": "bunq API",
        "description": "bunq, banking as a service with a full EU banking license. The bunq API offers access to all our banking products and brings the integration of payment interfaces, accounts, MasterCards, shared accounts and everything else you expect from an innovative bank in the 21st century. The RESTful API sends requests in HTTP format and returns responses in JSON format.",
        "termsOfService": "http://bunq.com/terms-api/",
        "contact": {
            "name": "bunq Developer Support",
            "url": "http://bunq.com/developer",
            "email": "support@bunq.com"
        },
        "license": {
            "name": "Apache 2.0",
            "url": "https://www.apache.org/licenses/LICENSE-2.0.html"
        },
        "version": "1.0"
    },
    "servers": [
        {
            "url": "https://sandbox.public.api.bunq.com/{basePath}",
            "description": "Sandbox server",
            "variables": {
                "basePath": {
                    "default": "v1"
                }
            }
        },
        {
            "url": "https://api.bunq.com/{basePath}",
            "description": "Production server",
            "variables": {
                "basePath": {
                    "default": "v1"
                }
            }
        }
    ],
    "components": {
        "schemas": {
            "Address_5ad76a20e5a61": {
                "type": "object",
                "properties": {
                    "street": {
                        "type": "string",
                        "description": "The street.",
                        "readOnly": false,
                        "writeOnly": false
                    },
                    "house_number": {
                        "type": "string",
                        "description": "The house number.",
                        "readOnly": false,
                        "writeOnly": false
                    },
                    "po_box": {
                        "type": "string",
                        "description": "The PO box.",
                        "readOnly": false,
                        "writeOnly": false
                    },
                    "postal_code": {
                        "type": "string",
                        "description": "The postal code.",
                        "readOnly": false,
                        "writeOnly": false
                    },
                    "city": {
                        "type": "string",
                        "description": "The city.",
                        "readOnly": false,
                        "writeOnly": false
                    },
                    "country": {
                        "type": "string",
                        "description": "The country as an ISO 3166-1 alpha-2 country code..",
                        "readOnly": false,
                        "writeOnly": false
                    },
                    "province": {
                        "type": "string",
                        "description": "The province according to local standard.",
                        "readOnly": true,
                        "writeOnly": false
                    }
                },
                "required": []
            },
            "Amount_5ad76a20e3cc1": {
                "type": "object",
                "properties": {
                    "value": {
                        "type": "string",
                        "description": "The amount formatted to two decimal places.",
                        "readOnly": false,
                        "writeOnly": false
                    },
                    "currency": {
                        "type": "string",
                        "description": "The currency of the amount. It is an ISO 4217 formatted currency code.",
                        "readOnly": false,
                        "writeOnly": false
                    }
                },
                "required": []
            },
            "AnchoredObject_5ad76a20f29a1": {
                "type": "object",
                "properties": {
                    "CardDebit": {
                        "type": "object",
                        "description": "",
                        "readOnly": true,
                        "writeOnly": false,
                        "$ref": "#/components/schemas/CardDebit_5ad76a20f3354"
                    },
                    "CardPinChange": {
                        "type": "object",
                        "description": "",
                        "readOnly": true,
                        "writeOnly": false,
                        "$ref": "#/components/schemas/CardPinChange_5ad76a2101dc7"
                    },
                    "CardResult": {
                        "type": "object",
                        "description": "",
                        "readOnly": true,
                        "writeOnly": false,
                        "$ref": "#/components/schemas/CardResult_5ad76a21033c9"
                    },
                    "DraftPayment": {
                        "type": "object",
                        "description": "",
                        "readOnly": true,
                        "writeOnly": false,
                        "$ref": "#/components/schemas/DraftPayment_5ad76a21056f7"
                    },
                    "IdealMerchantTransaction": {
                        "type": "object",
                        "description": "",
                        "readOnly": true,
                        "writeOnly": false,
                        "$ref": "#/components/schemas/IdealMerchantTransaction_5ad76a21106ef"
                    },
                    "Invoice": {
                        "type": "object",
                        "description": "",
                        "readOnly": true,
                        "writeOnly": false,
                        "$ref": "#/components/schemas/Invoice_5ad76a20e2fe9"
                    },
                    "Payment": {
                        "type": "object",
                        "description": "",
                        "readOnly": true,
                        "writeOnly": false,
                        "$ref": "#/components/schemas/Payment_5ad76a2108d9a"
                    },
                    "PaymentBatch": {
                        "type": "object",
                        "description": "",
                        "readOnly": true,
                        "writeOnly": false,
                        "$ref": "#/components/schemas/PaymentBatch_5ad76a210c4e3"
                    },
                    "PromotionDisplay": {
                        "type": "object",
                        "description": "",
                        "readOnly": true,
                        "writeOnly": false,
                        "$ref": "#/components/schemas/PromotionDisplay_5ad76a211d98c"
                    },
                    "RequestInquiryBatch": {
                        "type": "object",
                        "description": "",
                        "readOnly": true,
                        "writeOnly": false,
                        "$ref": "#/components/schemas/RequestInquiryBatch_5ad76a211ed19"
                    },
                    "RequestInquiry": {
                        "type": "object",
                        "description": "",
                        "readOnly": true,
                        "writeOnly": false,
                        "$ref": "#/components/schemas/RequestInquiry_5ad76a211fab0"
                    },
                    "RequestResponse": {
                        "type": "object",
                        "description": "",
                        "readOnly": true,
                        "writeOnly": false,
                        "$ref": "#/components/schemas/RequestResponse_5ad76a213719f"
                    },
                    "ScheduledPaymentBatch": {
                        "type": "object",
                        "description": "",
                        "readOnly": true,
                        "writeOnly": false,
                        "$ref": "#/components/schemas/SchedulePaymentBatch_5ad76a21b3da2"
                    },
                    "ScheduledPayment": {
                        "type": "object",
                        "description": "",
                        "readOnly": true,
                        "writeOnly": false,
                        "$ref": "#/components/schemas/SchedulePayment_5ad76a21baf3a"
                    },
                    "ScheduledInstance": {
                        "type": "object",
                        "description": "",
                        "readOnly": true,
                        "writeOnly": false,
                        "$ref": "#/components/schemas/ScheduleInstance_5ad76a2139901"
                    },
                    "ShareInviteBankInquiry": {
                        "type": "object",
                        "description": "",
                        "readOnly": true,
                        "writeOnly": false,
                        "$ref": "#/components/schemas/ShareInviteBankInquiry_5ad76a21cdc1f"
                    },
                    "ShareInviteBankResponse": {
                        "type": "object",
                        "description": "",
                        "readOnly": true,
                        "writeOnly": false,
                        "$ref": "#/components/schemas/ShareInviteBankResponse_5ad76a21d069a"
                    },
                    "UserCredentialPasswordIp": {
                        "type": "object",
                        "description": "",
                        "readOnly": true,
                        "writeOnly": false,
                        "$ref": "#/components/schemas/UserCredentialPasswordIp_5ad76a21d2761"
                    }
                },
                "required": []
            },
            "AttachmentConversationContent_5ad76a296da7d": {
                "type": "object",
                "properties": [],
                "required": []
            },
            "AttachmentMonetaryAccount": {
                "type": "object",
                "properties": [],
                "required": []
            },
            "AttachmentMonetaryAccountPayment_5ad76a2106870": {
                "type": "object",
                "properties": {
                    "id": {
                        "type": "integer",
                        "description": "The id of the attached Attachment.",
                        "readOnly": false,
                        "writeOnly": false
                    },
                    "monetary_account_id": {
                        "type": "integer",
                        "description": "The id of the MonetaryAccount this Attachment is attached from.",
                        "readOnly": true,
                        "writeOnly": false
                    }
                },
                "required": []
            },
            "AttachmentMonetaryAccount_5ad76a296fb11": {
                "type": "object",
                "properties": {
                    "attachment": {
                        "type": "object",
                        "description": "The attachment.",
                        "readOnly": true,
                        "writeOnly": false,
                        "$ref": "#/components/schemas/Attachment_5ad76a2138f81"
                    },
                    "id": {
                        "type": "integer",
                        "description": "The ID of the attachment created.",
                        "readOnly": true,
                        "writeOnly": false
                    }
                },
                "required": []
            },
            "AttachmentPublic": {
                "type": "object",
                "properties": [],
                "required": []
            },
            "AttachmentPublicContent_5ad76a296e566": {
                "type": "object",
                "properties": [],
                "required": []
            },
            "AttachmentPublic_5ad76a296fdbf": {
                "type": "object",
                "properties": {
                    "uuid": {
                        "type": "string",
                        "description": "The UUID of the attachment.",
                        "readOnly": true,
                        "writeOnly": false
                    },
                    "created": {
                        "type": "string",
                        "description": "The timestamp of the attachment's creation.",
                        "readOnly": true,
                        "writeOnly": false
                    },
                    "updated": {
                        "type": "string",
                        "description": "The timestamp of the attachment's last update.",
                        "readOnly": true,
                        "writeOnly": false
                    },
                    "attachment": {
                        "type": "object",
                        "description": "The attachment.",
                        "readOnly": true,
                        "writeOnly": false,
                        "$ref": "#/components/schemas/Attachment_5ad76a2138f81"
                    }
                },
                "required": []
            },
            "AttachmentPublic_5ad76a299c561": {
                "type": "object",
                "properties": {
                    "uuid": {
                        "type": "string",
                        "description": "The uuid of the attachment.",
                        "readOnly": true,
                        "writeOnly": false
                    },
                    "description": {
                        "type": "string",
                        "description": "The description of the attachment.",
                        "readOnly": true,
                        "writeOnly": false
                    },
                    "content_type": {
                        "type": "string",
                        "description": "The content type of the attachment's file.",
                        "readOnly": true,
                        "writeOnly": false
                    }
                },
                "required": []
            },
            "AttachmentTab": {
                "type": "object",
                "properties": [],
                "required": []
            },
            "AttachmentTabContent_5ad76a296ebd4": {
                "type": "object",
                "properties": [],
                "required": []
            },
            "AttachmentTab_5ad76a297068b": {
                "type": "object",
                "properties": {
                    "id": {
                        "type": "integer",
                        "description": "The id of the attachment.",
                        "readOnly": true,
                        "writeOnly": false
                    },
                    "created": {
                        "type": "string",
                        "description": "The timestamp of the attachment's creation.",
                        "readOnly": true,
                        "writeOnly": false
                    },
                    "updated": {
                        "type": "string",
                        "description": "The timestamp of the attachment's last update.",
                        "readOnly": true,
                        "writeOnly": false
                    },
                    "attachment": {
                        "type": "object",
                        "description": "The attachment.",
                        "readOnly": true,
                        "writeOnly": false,
                        "$ref": "#/components/schemas/Attachment_5ad76a2138f81"
                    }
                },
                "required": []
            },
            "AttachmentTab_5ad76a299c721": {
                "type": "object",
                "properties": {
                    "id": {
                        "type": "integer",
                        "description": "The id of the attachment.",
                        "readOnly": true,
                        "writeOnly": false
                    },
                    "description": {
                        "type": "string",
                        "description": "The description of the attachment.",
                        "readOnly": true,
                        "writeOnly": false
                    },
                    "content_type": {
                        "type": "string",
                        "description": "The content type of the attachment's file.",
                        "readOnly": true,
                        "writeOnly": false
                    }
                },
                "required": []
            },
            "Attachment_5ad76a2138f81": {
                "type": "object",
                "properties": {
                    "description": {
                        "type": "string",
                        "description": "The description of the attachment.",
                        "readOnly": true,
                        "writeOnly": false
                    },
                    "content_type": {
                        "type": "string",
                        "description": "The content type of the attachment's file.",
                        "readOnly": true,
                        "writeOnly": false
                    }
                },
                "required": []
            },
            "Avatar": {
                "type": "object",
                "properties": {
                    "attachment_public_uuid": {
                        "type": "string",
                        "description": "The public UUID of the public attachment from which an avatar image must be created.",
                        "readOnly": false,
                        "writeOnly": true
                    }
                },
                "required": [
                    "attachment_public_uuid"
                ]
            },
            "Avatar_5ad76a20e4e92": {
                "type": "object",
                "properties": {
                    "uuid": {
                        "type": "string",
                        "description": "The public UUID of the avatar.",
                        "readOnly": false,
                        "writeOnly": false
                    },
                    "anchor_uuid": {
                        "type": "string",
                        "description": "The public UUID of object this avatar is anchored to.",
                        "readOnly": true,
                        "writeOnly": false
                    },
                    "image": {
                        "type": "array",
                        "description": "The actual image information of this avatar.",
                        "readOnly": true,
                        "writeOnly": false,
                        "items": {
                            "$ref": "#/components/schemas/Image_5ad76a20e502c"
                        }
                    }
                },
                "required": []
            },
            "Avatar_5ad76a2971ce8": {
                "type": "object",
                "properties": {
                    "attachment_public_uuid": {
                        "type": "string",
                        "description": "The public UUID of the public attachment from which an avatar image must be created.",
                        "readOnly": false,
                        "writeOnly": true
                    },
                    "uuid": {
                        "type": "string",
                        "description": "The UUID of the created avatar.",
                        "readOnly": true,
                        "writeOnly": false
                    },
                    "image": {
                        "type": "array",
                        "description": "The content type of the image.",
                        "readOnly": true,
                        "writeOnly": false,
                        "items": {
                            "$ref": "#/components/schemas/Image_5ad76a2971f73"
                        }
                    }
                },
                "required": [
                    "attachment_public_uuid",
                    "attachment_public_uuid"
                ]
            },
            "Avatar_5ad76a297691b": {
                "type": "object",
                "properties": {
                    "uuid": {
                        "type": "string",
                        "description": "The public UUID of the avatar.",
                        "readOnly": false,
                        "writeOnly": false
                    },
                    "anchor_uuid": {
                        "type": "string",
                        "description": "The public UUID of object this avatar is anchored to.",
                        "readOnly": true,
                        "writeOnly": false
                    },
                    "image": {
                        "type": "array",
                        "description": "The actual image information of this avatar.",
                        "readOnly": true,
                        "writeOnly": false,
                        "items": {
                            "$ref": "#/components/schemas/Image_5ad76a2976a96"
                        }
                    }
                },
                "required": []
            },
            "BillingContractSubscription_5ad76a2f01c05": {
                "type": "object",
                "properties": {
                    "subscription_type": {
                        "type": "string",
                        "description": "The subscription type of the user. Can be one of PERSON_SUPER_LIGHT_V1, PERSON_LIGHT_V1, PERSON_MORE_V1, PERSON_FREE_V1, PERSON_PREMIUM_V1, COMPANY_V1, or COMPANY_V2.",
                        "readOnly": false,
                        "writeOnly": false
                    },
                    "id": {
                        "type": "integer",
                        "description": "The id of the billing contract.",
                        "readOnly": true,
                        "writeOnly": false
                    },
                    "created": {
                        "type": "string",
                        "description": "The timestamp when the billing contract was made.",
                        "readOnly": true,
                        "writeOnly": false
                    },
                    "updated": {
                        "type": "string",
                        "description": "The timestamp when the billing contract was last updated.",
                        "readOnly": true,
                        "writeOnly": false
                    },
                    "contract_date_start": {
                        "type": "string",
                        "description": "The date from when the billing contract is valid.",
                        "readOnly": true,
                        "writeOnly": false
                    },
                    "contract_date_end": {
                        "type": "string",
                        "description": "The date until when the billing contract is valid.",
                        "readOnly": true,
                        "writeOnly": false
                    },
                    "contract_version": {
                        "type": "integer",
                        "description": "The version of the billing contract.",
                        "readOnly": true,
                        "writeOnly": false
                    }
                },
                "required": []
            },
            "BudgetRestriction_5ad76a21ce93f": {
                "type": "object",
                "properties": {
                    "amount": {
                        "type": "object",
                        "description": "The amount of the budget given to the invited user.",
                        "readOnly": false,
                        "writeOnly": false,
                        "$ref": "#/components/schemas/Amount_5ad76a20e3cc1"
                    },
                    "frequency": {
                        "type": "string",
                        "description": "The duration for a budget restriction. Valid values are DAILY, WEEKLY, MONTHLY, YEARLY.",
                        "readOnly": false,
                        "writeOnly": false
                    }
                },
                "required": []
            },
            "BunqId_5ad76a2120ad1": {
                "type": "object",
                "properties": {
                    "id": {
                        "type": "integer",
                        "description": "An integer ID of an object. Unique per object type.",
                        "readOnly": false,
                        "writeOnly": false
                    }
                },
                "required": []
            },
            "BunqMeMerchantAvailable_5ad76a2977425": {
                "type": "object",
                "properties": {
                    "merchant_type": {
                        "type": "string",
                        "description": "A merchant type supported by bunq.me.",
                        "readOnly": true,
                        "writeOnly": false
                    },
                    "available": {
                        "type": "boolean",
                        "description": "Whether or not the merchant is available for the user.",
                        "readOnly": true,
                        "writeOnly": false
                    }
                },
                "required": []
            },
            "BunqMeTab": {
                "type": "object",
                "properties": {
                    "bunqme_tab_entry": {
                        "type": "object",
                        "description": "The bunq.me entry containing the payment information.",
                        "readOnly": false,
                        "writeOnly": false,
                        "$ref": "#/components/schemas/BunqMeTabEntry_5ad76a29760fd"
                    },
                    "status": {
                        "type": "string",
                        "description": "The status of the bunq.me. Ignored in POST requests but can be used for cancelling the bunq.me by setting status as CANCELLED with a PUT request.",
                        "readOnly": false,
                        "writeOnly": false
                    }
                },
                "required": [
                    "bunqme_tab_entry"
                ]
            },
            "BunqMeTabEntry_5ad76a29760fd": {
                "type": "object",
                "properties": {
                    "amount_inquired": {
                        "type": "object",
                        "description": "The requested Amount.",
                        "readOnly": false,
                        "writeOnly": false,
                        "$ref": "#/components/schemas/Amount_5ad76a20e3cc1"
                    },
                    "description": {
                        "type": "string",
                        "description": "The description for the bunq.me. Maximum 9000 characters.",
                        "readOnly": false,
                        "writeOnly": false
                    },
                    "redirect_url": {
                        "type": "string",
                        "description": "The URL which the user is sent to when a payment is completed.",
                        "readOnly": false,
                        "writeOnly": false
                    },
                    "uuid": {
                        "type": "string",
                        "description": "The uuid of the bunq.me.",
                        "readOnly": true,
                        "writeOnly": false
                    },
                    "alias": {
                        "type": "object",
                        "description": "The LabelMonetaryAccount with the public information of the User and the MonetaryAccount that created the bunq.me link.",
                        "readOnly": true,
                        "writeOnly": false,
                        "$ref": "#/components/schemas/LabelMonetaryAccount_5ad76a20e4cbb"
                    },
                    "status": {
                        "type": "string",
                        "description": "The status of the bunq.me. Can be WAITING_FOR_PAYMENT, CANCELLED or EXPIRED.",
                        "readOnly": true,
                        "writeOnly": false
                    },
                    "merchant_available": {
                        "type": "array",
                        "description": "List of available merchants.",
                        "readOnly": true,
                        "writeOnly": false,
                        "items": {
                            "$ref": "#/components/schemas/BunqMeMerchantAvailable_5ad76a2977425"
                        }
                    }
                },
                "required": []
            },
            "BunqMeTabResultInquiry_5ad76a29793ff": {
                "type": "object",
                "properties": {
                    "payment": {
                        "type": "object",
                        "description": "The payment made for the Tab.",
                        "readOnly": true,
                        "writeOnly": false,
                        "$ref": "#/components/schemas/Payment_5ad76a2108d9a"
                    },
                    "bunq_me_tab_id": {
                        "type": "integer",
                        "description": "The Id of the bunq.me tab that this BunqMeTabResultInquiry belongs to.",
                        "readOnly": true,
                        "writeOnly": false
                    }
                },
                "required": []
            },
            "BunqMeTab_5ad76a2977523": {
                "type": "object",
                "properties": {
                    "bunqme_tab_entry": {
                        "type": "object",
                        "description": "The bunq.me entry containing the payment information.",
                        "readOnly": false,
                        "writeOnly": false,
                        "$ref": "#/components/schemas/BunqMeTabEntry_5ad76a29760fd"
                    },
                    "status": {
                        "type": "string",
                        "description": "The status of the bunq.me. Can be WAITING_FOR_PAYMENT, CANCELLED or EXPIRED.",
                        "readOnly": false,
                        "writeOnly": false
                    },
                    "id": {
                        "type": "integer",
                        "description": "The id of the created bunq.me.",
                        "readOnly": true,
                        "writeOnly": false
                    },
                    "created": {
                        "type": "string",
                        "description": "The timestamp when the bunq.me was created.",
                        "readOnly": true,
                        "writeOnly": false
                    },
                    "updated": {
                        "type": "string",
                        "description": "The timestamp when the bunq.me was last updated.",
                        "readOnly": true,
                        "writeOnly": false
                    },
                    "time_expiry": {
                        "type": "string",
                        "description": "The timestamp of when the bunq.me expired or will expire.",
                        "readOnly": true,
                        "writeOnly": false
                    },
                    "monetary_account_id": {
                        "type": "integer",
                        "description": "The id of the MonetaryAccount the bunq.me was sent from.",
                        "readOnly": true,
                        "writeOnly": false
                    },
                    "bunqme_tab_share_url": {
                        "type": "string",
                        "description": "The url that points to the bunq.me page.",
                        "readOnly": true,
                        "writeOnly": false
                    },
                    "result_inquiries": {
                        "type": "array",
                        "description": "The list of bunq.me result Inquiries successfully made and paid.",
                        "readOnly": true,
                        "writeOnly": false,
                        "items": {
                            "$ref": "#/components/schemas/BunqMeTabResultInquiry_5ad76a29793ff"
                        }
                    }
                },
                "required": []
            },
            "Card": {
                "type": "object",
                "properties": {
                    "pin_code": {
                        "type": "string",
                        "description": "The plaintext pin code. Requests require encryption to be enabled.",
                        "readOnly": false,
                        "writeOnly": true
                    },
                    "activation_code": {
                        "type": "string",
                        "description": "The activation code required to set status to ACTIVE initially. Can only set status to ACTIVE using activation code when order_status is ACCEPTED_FOR_PRODUCTION and status is DEACTIVATED.",
                        "readOnly": false,
                        "writeOnly": true
                    },
                    "status": {
                        "type": "string",
                        "description": "The status to set for the card. Can be ACTIVE, DEACTIVATED, LOST, STOLEN or CANCELLED, and can only be set to LOST/STOLEN/CANCELLED when order status is ACCEPTED_FOR_PRODUCTION/DELIVERED_TO_CUSTOMER/CARD_UPDATE_REQUESTED/CARD_UPDATE_SENT/CARD_UPDATE_ACCEPTED. Can only be set to DEACTIVATED after initial activation, i.e. order_status is DELIVERED_TO_CUSTOMER/CARD_UPDATE_REQUESTED/CARD_UPDATE_SENT/CARD_UPDATE_ACCEPTED. Mind that all the possible choices (apart from ACTIVE and DEACTIVATED) are permanent and cannot be changed after.",
                        "readOnly": false,
                        "writeOnly": false
                    },
                    "limit": {
                        "type": "array",
                        "description": "The limits to define for the card, among CARD_LIMIT_CONTACTLESS, CARD_LIMIT_ATM, CARD_LIMIT_DIPPING and CARD_LIMIT_POS_ICC (e.g. 25 EUR for CARD_LIMIT_CONTACTLESS). All the limits must be provided on update.",
                        "readOnly": false,
                        "writeOnly": false,
                        "items": {
                            "$ref": "#/components/schemas/CardLimit_5ad76a20f3d28"
                        }
                    },
                    "mag_stripe_permission": {
                        "type": "object",
                        "description": "Whether or not it is allowed to use the mag stripe for the card.",
                        "readOnly": false,
                        "writeOnly": false,
                        "$ref": "#/components/schemas/CardMagStripePermission_5ad76a2990ac1"
                    },
                    "country_permission": {
                        "type": "array",
                        "description": "The countries for which to grant (temporary) permissions to use the card.",
                        "readOnly": false,
                        "writeOnly": false,
                        "items": {
                            "$ref": "#/components/schemas/CardCountryPermission_5ad76a20f3f86"
                        }
                    },
                    "monetary_account_current_id": {
                        "type": "integer",
                        "description": "The ID of the monetary account that card transactions will use.",
                        "readOnly": false,
                        "writeOnly": true
                    },
                    "pin_code_assignment": {
                        "type": "array",
                        "description": "Array of Types, PINs, account IDs assigned to the card.",
                        "readOnly": false,
                        "writeOnly": false,
                        "items": {
                            "$ref": "#/components/schemas/CardPinAssignment_5ad76a20f3a66"
                        }
                    },
                    "monetary_account_id_fallback": {
                        "type": "integer",
                        "description": "ID of the MA to be used as fallback for this card if insufficient balance. Fallback account is removed if not supplied.",
                        "readOnly": false,
                        "writeOnly": false
                    }
                },
                "required": []
            },
            "CardCountryPermission_5ad76a20f3f86": {
                "type": "object",
                "properties": {
                    "country": {
                        "type": "string",
                        "description": "The country to allow transactions in (e.g. NL, DE).",
                        "readOnly": false,
                        "writeOnly": false
                    },
                    "expiry_time": {
                        "type": "string",
                        "description": "Expiry time of this rule.",
                        "readOnly": false,
                        "writeOnly": false
                    },
                    "id": {
                        "type": "integer",
                        "description": "The id of the card country permission entry.",
                        "readOnly": true,
                        "writeOnly": false
                    }
                },
                "required": []
            },
            "CardDebit": {
                "type": "object",
                "properties": {
                    "second_line": {
                        "type": "string",
                        "description": "The second line of text on the card, used as name/description for it. It can contain at most 17 characters and it can be empty.",
                        "readOnly": false,
                        "writeOnly": false
                    },
                    "name_on_card": {
                        "type": "string",
                        "description": "The user's name as it will be on the card. Check 'card-name' for the available card names for a user.",
                        "readOnly": false,
                        "writeOnly": false
                    },
                    "alias": {
                        "type": "object",
                        "description": "The pointer to the monetary account that will be connected at first with the card. Its IBAN code is also the one that will be printed on the card itself. The pointer must be of type IBAN.",
                        "readOnly": false,
                        "writeOnly": false,
                        "$ref": "#/components/schemas/Pointer_5ad76a20e57c2"
                    },
                    "type": {
                        "type": "string",
                        "description": "The type of card to order. Can be MAESTRO or MASTERCARD.",
                        "readOnly": false,
                        "writeOnly": false
                    },
                    "pin_code_assignment": {
                        "type": "array",
                        "description": "Array of Types, PINs, account IDs assigned to the card.",
                        "readOnly": false,
                        "writeOnly": false,
                        "items": {
                            "$ref": "#/components/schemas/CardPinAssignment_5ad76a20f3a66"
                        }
                    },
                    "monetary_account_id_fallback": {
                        "type": "integer",
                        "description": "ID of the MA to be used as fallback for this card if insufficient balance. Fallback account is removed if not supplied.",
                        "readOnly": false,
                        "writeOnly": false
                    }
                },
                "required": [
                    "second_line",
                    "name_on_card"
                ]
            },
            "CardDebit_5ad76a20f3354": {
                "type": "object",
                "properties": {
                    "second_line": {
                        "type": "string",
                        "description": "The second line of text on the card",
                        "readOnly": false,
                        "writeOnly": false
                    },
                    "name_on_card": {
                        "type": "string",
                        "description": "The user's name as will be on the card",
                        "readOnly": false,
                        "writeOnly": false
                    },
                    "alias": {
                        "type": "object",
                        "description": "The label for the user who requested the card.",
                        "readOnly": false,
                        "writeOnly": false,
                        "$ref": "#/components/schemas/LabelUser_5ad76a20e5318"
                    },
                    "type": {
                        "type": "string",
                        "description": "The type of the card. Can be MAESTRO, MASTERCARD.",
                        "readOnly": false,
                        "writeOnly": false
                    },
                    "pin_code_assignment": {
                        "type": "array",
                        "description": "Array of Types, PINs, account IDs assigned to the card.",
                        "readOnly": false,
                        "writeOnly": false,
                        "items": {
                            "$ref": "#/components/schemas/CardPinAssignment_5ad76a20f3a66"
                        }
                    },
                    "monetary_account_id_fallback": {
                        "type": "integer",
                        "description": "ID of the MA to be used as fallback for this card if insufficient balance. Fallback account is removed if not supplied.",
                        "readOnly": false,
                        "writeOnly": false
                    },
                    "id": {
                        "type": "integer",
                        "description": "The id of the card.",
                        "readOnly": true,
                        "writeOnly": false
                    },
                    "created": {
                        "type": "string",
                        "description": "The timestamp when the card was crated.",
                        "readOnly": true,
                        "writeOnly": false
                    },
                    "updated": {
                        "type": "string",
                        "description": "The timestamp when the card was last updated.",
                        "readOnly": true,
                        "writeOnly": false
                    },
                    "public_uuid": {
                        "type": "string",
                        "description": "The public UUID of the card.",
                        "readOnly": true,
                        "writeOnly": false
                    },
                    "sub_type": {
                        "type": "string",
                        "description": "The sub_type of card.",
                        "readOnly": true,
                        "writeOnly": false
                    },
                    "primary_account_number_four_digit": {
                        "type": "string",
                        "description": "The last 4 digits of the PAN of the card.",
                        "readOnly": true,
                        "writeOnly": false
                    },
                    "status": {
                        "type": "string",
                        "description": "The status to set for the card. After ordering the card it will be DEACTIVATED.",
                        "readOnly": true,
                        "writeOnly": false
                    },
                    "order_status": {
                        "type": "string",
                        "description": "The order status of the card. After ordering the card it will be NEW_CARD_REQUEST_RECEIVED.",
                        "readOnly": true,
                        "writeOnly": false
                    },
                    "expiry_date": {
                        "type": "string",
                        "description": "The expiry date of the card.",
                        "readOnly": true,
                        "writeOnly": false
                    },
                    "limit": {
                        "type": "array",
                        "description": "The limits to define for the card (e.g. 25 EUR for CARD_LIMIT_CONTACTLESS).",
                        "readOnly": true,
                        "writeOnly": false,
                        "items": {
                            "$ref": "#/components/schemas/CardLimit_5ad76a20f3d28"
                        }
                    },
                    "country_permission": {
                        "type": "array",
                        "description": "The countries for which to grant (temporary) permissions to use the card.",
                        "readOnly": true,
                        "writeOnly": false,
                        "items": {
                            "$ref": "#/components/schemas/CardCountryPermission_5ad76a20f3f86"
                        }
                    },
                    "label_monetary_account_ordered": {
                        "type": "object",
                        "description": "The monetary account this card was ordered on and the label user that owns the card.",
                        "readOnly": true,
                        "writeOnly": false,
                        "$ref": "#/components/schemas/LabelMonetaryAccount_5ad76a20e4cbb"
                    },
                    "label_monetary_account_current": {
                        "type": "object",
                        "description": "The monetary account that this card is currently linked to and the label user viewing it.",
                        "readOnly": true,
                        "writeOnly": false,
                        "$ref": "#/components/schemas/LabelMonetaryAccount_5ad76a20e4cbb"
                    },
                    "country": {
                        "type": "string",
                        "description": "The country that is domestic to the card. Defaults to country of residence of user.",
                        "readOnly": true,
                        "writeOnly": false
                    }
                },
                "required": []
            },
            "CardGeneratedCvc2": {
                "type": "object",
                "properties": [],
                "required": []
            },
            "CardGeneratedCvc2_5ad76a298e8c3": {
                "type": "object",
                "properties": {
                    "id": {
                        "type": "integer",
                        "description": "The id of the cvc code.",
                        "readOnly": true,
                        "writeOnly": false
                    },
                    "created": {
                        "type": "string",
                        "description": "The timestamp of the cvc code's creation.",
                        "readOnly": true,
                        "writeOnly": false
                    },
                    "updated": {
                        "type": "string",
                        "description": "The timestamp of the cvc code's last update.",
                        "readOnly": true,
                        "writeOnly": false
                    },
                    "cvc2": {
                        "type": "string",
                        "description": "The cvc2 code.",
                        "readOnly": true,
                        "writeOnly": false
                    },
                    "status": {
                        "type": "string",
                        "description": "The status of the cvc2. Can be AVAILABLE, USED, EXPIRED, BLOCKED.",
                        "readOnly": true,
                        "writeOnly": false
                    },
                    "expiry_time": {
                        "type": "string",
                        "description": "Expiry time of the cvc2.",
                        "readOnly": true,
                        "writeOnly": false
                    }
                },
                "required": []
            },
            "CardLimit_5ad76a20f3d28": {
                "type": "object",
                "properties": {
                    "daily_limit": {
                        "type": "string",
                        "description": "The daily limit amount.",
                        "readOnly": false,
                        "writeOnly": false
                    },
                    "currency": {
                        "type": "string",
                        "description": "Currency for the daily limit.",
                        "readOnly": false,
                        "writeOnly": false
                    },
                    "type": {
                        "type": "string",
                        "description": "The type of transaction for the limit. Can be CARD_LIMIT_ATM, CARD_LIMIT_CONTACTLESS, CARD_LIMIT_DIPPING or CARD_LIMIT_POS_ICC.",
                        "readOnly": false,
                        "writeOnly": false
                    },
                    "id": {
                        "type": "integer",
                        "description": "The id of the card limit entry.",
                        "readOnly": true,
                        "writeOnly": false
                    }
                },
                "required": []
            },
            "CardMagStripePermission_5ad76a2990ac1": {
                "type": "object",
                "properties": {
                    "expiry_time": {
                        "type": "string",
                        "description": "Expiry time of this rule.",
                        "readOnly": false,
                        "writeOnly": false
                    }
                },
                "required": []
            },
            "CardName_5ad76a298f5d1": {
                "type": "object",
                "properties": {
                    "possible_card_name_array": {
                        "type": "array",
                        "description": "All possible variations (of suitable length) of user's legal name for the debit card.",
                        "readOnly": true,
                        "writeOnly": false,
                        "items": {
                            "type": "string"
                        }
                    }
                },
                "required": []
            },
            "CardPinAssignment_5ad76a20f3a66": {
                "type": "object",
                "properties": {
                    "type": {
                        "type": "string",
                        "description": "PIN type. Can be PRIMARY, SECONDARY or TERTIARY",
                        "readOnly": false,
                        "writeOnly": false
                    },
                    "pin_code": {
                        "type": "string",
                        "description": "The 4 digit PIN to be assigned to this account.",
                        "readOnly": false,
                        "writeOnly": true
                    },
                    "monetary_account_id": {
                        "type": "integer",
                        "description": "The ID of the monetary account to assign to this pin for the card.",
                        "readOnly": false,
                        "writeOnly": false
                    }
                },
                "required": [
                    "pin_code",
                    "pin_code",
                    "pin_code",
                    "pin_code",
                    "pin_code",
                    "pin_code",
                    "pin_code",
                    "pin_code",
                    "pin_code",
                    "pin_code",
                    "pin_code",
                    "pin_code",
                    "pin_code",
                    "pin_code",
                    "pin_code",
                    "pin_code",
                    "pin_code",
                    "pin_code"
                ]
            },
            "CardPinChange_5ad76a2101dc7": {
                "type": "object",
                "properties": {
                    "id": {
                        "type": "integer",
                        "description": "The id of the pin change.",
                        "readOnly": true,
                        "writeOnly": false
                    },
                    "label_card": {
                        "type": "object",
                        "description": "The label of the card.",
                        "readOnly": true,
                        "writeOnly": false,
                        "$ref": "#/components/schemas/LabelCard_5ad76a2101ff0"
                    },
                    "label_monetary_account_current": {
                        "type": "object",
                        "description": "The monetary account this card was ordered on and the label user that owns the card.",
                        "readOnly": true,
                        "writeOnly": false,
                        "$ref": "#/components/schemas/LabelMonetaryAccount_5ad76a20e4cbb"
                    },
                    "time_request": {
                        "type": "string",
                        "description": "The request date of the pin change.",
                        "readOnly": true,
                        "writeOnly": false
                    },
                    "time_accept": {
                        "type": "string",
                        "description": "The acceptance date of the pin change.",
                        "readOnly": true,
                        "writeOnly": false
                    },
                    "status": {
                        "type": "string",
                        "description": "The status of the pin change request, PIN_UPDATE_REQUESTED or PIN_UPDATE_ACCEPTED",
                        "readOnly": true,
                        "writeOnly": false
                    }
                },
                "required": []
            },
            "CardReplace": {
                "type": "object",
                "properties": {
                    "pin_code": {
                        "type": "string",
                        "description": "The plaintext pin code. Requests require encryption to be enabled.",
                        "readOnly": false,
                        "writeOnly": true
                    },
                    "second_line": {
                        "type": "string",
                        "description": "The second line on the card.",
                        "readOnly": false,
                        "writeOnly": true
                    }
                },
                "required": []
            },
            "CardReplace_5ad76a2990013": {
                "type": "object",
                "properties": {
                    "pin_code": {
                        "type": "string",
                        "description": "The plaintext pin code. Requests require encryption to be enabled.",
                        "readOnly": false,
                        "writeOnly": true
                    },
                    "second_line": {
                        "type": "string",
                        "description": "The second line on the card.",
                        "readOnly": false,
                        "writeOnly": true
                    },
                    "id": {
                        "type": "integer",
                        "description": "The id of the new card.",
                        "readOnly": true,
                        "writeOnly": false
                    }
                },
                "required": []
            },
            "CardResult_5ad76a21033c9": {
                "type": "object",
                "properties": {
                    "monetary_account_id": {
                        "type": "integer",
                        "description": "The id of the monetary account this card result links to.",
                        "readOnly": true,
                        "writeOnly": false
                    },
                    "card_id": {
                        "type": "integer",
                        "description": "The id of the card this card result links to.",
                        "readOnly": true,
                        "writeOnly": false
                    },
                    "amount_original": {
                        "type": "object",
                        "description": "The original amount of the message.",
                        "readOnly": true,
                        "writeOnly": false,
                        "$ref": "#/components/schemas/Amount_5ad76a20e3cc1"
                    },
                    "amount_final": {
                        "type": "object",
                        "description": "The final amount of the message to be booked to the account.",
                        "readOnly": true,
                        "writeOnly": false,
                        "$ref": "#/components/schemas/Amount_5ad76a20e3cc1"
                    },
                    "decision": {
                        "type": "string",
                        "description": "Why the transaction was denied, if it was denied, or just ALLOWED.",
                        "readOnly": true,
                        "writeOnly": false
                    },
                    "decision_description": {
                        "type": "string",
                        "description": "Empty if allowed, otherwise a textual explanation of why it was denied.",
                        "readOnly": true,
                        "writeOnly": false
                    },
                    "decision_description_translated": {
                        "type": "string",
                        "description": "Empty if allowed, otherwise a textual explanation of why it was denied in user's language.",
                        "readOnly": true,
                        "writeOnly": false
                    },
                    "description": {
                        "type": "string",
                        "description": "The description for this transaction to display.",
                        "readOnly": true,
                        "writeOnly": false
                    },
                    "message_type": {
                        "type": "string",
                        "description": "The type of message that this card result is created for.",
                        "readOnly": true,
                        "writeOnly": false
                    },
                    "authorisation_type": {
                        "type": "string",
                        "description": "The way the cardholder was authorised to the POS or ATM.",
                        "readOnly": true,
                        "writeOnly": false
                    },
                    "city": {
                        "type": "string",
                        "description": "The city where the message originates from.",
                        "readOnly": true,
                        "writeOnly": false
                    },
                    "alias": {
                        "type": "object",
                        "description": "The monetary account label of the account that this result is created for.",
                        "readOnly": true,
                        "writeOnly": false,
                        "$ref": "#/components/schemas/LabelMonetaryAccount_5ad76a20e4cbb"
                    },
                    "counterparty_alias": {
                        "type": "object",
                        "description": "The monetary account label of the counterparty.",
                        "readOnly": true,
                        "writeOnly": false,
                        "$ref": "#/components/schemas/LabelMonetaryAccount_5ad76a20e4cbb"
                    },
                    "label_card": {
                        "type": "object",
                        "description": "The label of the card.",
                        "readOnly": true,
                        "writeOnly": false,
                        "$ref": "#/components/schemas/LabelCard_5ad76a2101ff0"
                    },
                    "reservation_status": {
                        "type": "string",
                        "description": "The status of the reservation if the transaction is a reservation.",
                        "readOnly": true,
                        "writeOnly": false
                    },
                    "reservation_expiry_time": {
                        "type": "string",
                        "description": "The moment the reservation will expire.",
                        "readOnly": true,
                        "writeOnly": false
                    }
                },
                "required": []
            },
            "Card_5ad76a2990dc1": {
                "type": "object",
                "properties": {
                    "pin_code": {
                        "type": "string",
                        "description": "The plaintext pin code. Requests require encryption to be enabled.",
                        "readOnly": false,
                        "writeOnly": true
                    },
                    "activation_code": {
                        "type": "string",
                        "description": "The activation code required to set status to ACTIVE initially. Can only set status to ACTIVE using activation code when order_status is ACCEPTED_FOR_PRODUCTION and status is DEACTIVATED.",
                        "readOnly": false,
                        "writeOnly": true
                    },
                    "status": {
                        "type": "string",
                        "description": "The status to set for the card. Can be ACTIVE, DEACTIVATED, LOST, STOLEN, CANCELLED, EXPIRED or PIN_TRIES_EXCEEDED.",
                        "readOnly": false,
                        "writeOnly": false
                    },
                    "limit": {
                        "type": "array",
                        "description": "The limits to define for the card, among CARD_LIMIT_CONTACTLESS, CARD_LIMIT_ATM, CARD_LIMIT_DIPPING and CARD_LIMIT_POS_ICC (e.g. 25 EUR for CARD_LIMIT_CONTACTLESS)",
                        "readOnly": false,
                        "writeOnly": false,
                        "items": {
                            "$ref": "#/components/schemas/CardLimit_5ad76a20f3d28"
                        }
                    },
                    "mag_stripe_permission": {
                        "type": "object",
                        "description": "The countries for which to grant (temporary) permissions to use the card.",
                        "readOnly": false,
                        "writeOnly": false,
                        "$ref": "#/components/schemas/CardMagStripePermission_5ad76a2990ac1"
                    },
                    "country_permission": {
                        "type": "array",
                        "description": "The countries for which to grant (temporary) permissions to use the card.",
                        "readOnly": false,
                        "writeOnly": false,
                        "items": {
                            "$ref": "#/components/schemas/CardCountryPermission_5ad76a20f3f86"
                        }
                    },
                    "monetary_account_current_id": {
                        "type": "integer",
                        "description": "The ID of the monetary account that card transactions will use.",
                        "readOnly": false,
                        "writeOnly": true
                    },
                    "pin_code_assignment": {
                        "type": "array",
                        "description": "Array of Types, PINs, account IDs assigned to the card.",
                        "readOnly": false,
                        "writeOnly": false,
                        "items": {
                            "$ref": "#/components/schemas/CardPinAssignment_5ad76a20f3a66"
                        }
                    },
                    "monetary_account_id_fallback": {
                        "type": "integer",
                        "description": "ID of the MA to be used as fallback for this card if insufficient balance. Fallback account is removed if not supplied.",
                        "readOnly": false,
                        "writeOnly": false
                    },
                    "id": {
                        "type": "integer",
                        "description": "The id of the card.",
                        "readOnly": true,
                        "writeOnly": false
                    },
                    "created": {
                        "type": "string",
                        "description": "The timestamp of the card's creation.",
                        "readOnly": true,
                        "writeOnly": false
                    },
                    "updated": {
                        "type": "string",
                        "description": "The timestamp of the card's last update.",
                        "readOnly": true,
                        "writeOnly": false
                    },
                    "public_uuid": {
                        "type": "string",
                        "description": "The public UUID of the card.",
                        "readOnly": true,
                        "writeOnly": false
                    },
                    "type": {
                        "type": "string",
                        "description": "The type of the card. Can be MAESTRO, MASTERCARD.",
                        "readOnly": true,
                        "writeOnly": false
                    },
                    "sub_type": {
                        "type": "string",
                        "description": "The sub-type of the card.",
                        "readOnly": true,
                        "writeOnly": false
                    },
                    "second_line": {
                        "type": "string",
                        "description": "The second line of text on the card",
                        "readOnly": true,
                        "writeOnly": false
                    },
                    "sub_status": {
                        "type": "string",
                        "description": "The sub-status of the card. Can be NONE or REPLACED.",
                        "readOnly": true,
                        "writeOnly": false
                    },
                    "order_status": {
                        "type": "string",
                        "description": "The order status of the card. Can be CARD_UPDATE_REQUESTED, CARD_UPDATE_SENT, CARD_UPDATE_ACCEPTED, ACCEPTED_FOR_PRODUCTION or DELIVERED_TO_CUSTOMER.",
                        "readOnly": true,
                        "writeOnly": false
                    },
                    "expiry_date": {
                        "type": "string",
                        "description": "Expiry date of the card.",
                        "readOnly": true,
                        "writeOnly": false
                    },
                    "name_on_card": {
                        "type": "string",
                        "description": "The user's name on the card.",
                        "readOnly": true,
                        "writeOnly": false
                    },
                    "primary_account_number_four_digit": {
                        "type": "string",
                        "description": "The last 4 digits of the PAN of the card.",
                        "readOnly": true,
                        "writeOnly": false
                    },
                    "label_monetary_account_ordered": {
                        "type": "object",
                        "description": "The monetary account this card was ordered on and the label user that owns the card.",
                        "readOnly": true,
                        "writeOnly": false,
                        "$ref": "#/components/schemas/LabelMonetaryAccount_5ad76a20e4cbb"
                    },
                    "label_monetary_account_current": {
                        "type": "object",
                        "description": "The monetary account that this card is currently linked to and the label user viewing it.",
                        "readOnly": true,
                        "writeOnly": false,
                        "$ref": "#/components/schemas/LabelMonetaryAccount_5ad76a20e4cbb"
                    },
                    "country": {
                        "type": "string",
                        "description": "The country that is domestic to the card. Defaults to country of residence of user.",
                        "readOnly": true,
                        "writeOnly": false
                    }
                },
                "required": []
            },
            "CashRegister": {
                "type": "object",
                "properties": {
                    "name": {
                        "type": "string",
                        "description": "The name of the CashRegister. Must be unique for this MonetaryAccount.",
                        "readOnly": false,
                        "writeOnly": false
                    },
                    "status": {
                        "type": "string",
                        "description": "The status of the CashRegister. Can only be created or updated with PENDING_APPROVAL or CLOSED.",
                        "readOnly": false,
                        "writeOnly": false
                    },
                    "avatar_uuid": {
                        "type": "string",
                        "description": "The UUID of the avatar of the CashRegister. Use the calls /attachment-public and /avatar to create a new Avatar and get its UUID.",
                        "readOnly": false,
                        "writeOnly": true
                    },
                    "location": {
                        "type": "object",
                        "description": "The geolocation of the CashRegister.",
                        "readOnly": false,
                        "writeOnly": false,
                        "$ref": "#/components/schemas/Geolocation_5ad76a210b68b"
                    },
                    "notification_filters": {
                        "type": "array",
                        "description": "The types of notifications that will result in a push notification or URL callback for this CashRegister.",
                        "readOnly": false,
                        "writeOnly": false,
                        "items": {
                            "$ref": "#/components/schemas/NotificationFilter_5ad76a2998ece"
                        }
                    },
                    "tab_text_waiting_screen": {
                        "type": "array",
                        "description": "The tab text for waiting screen of CashRegister.",
                        "readOnly": false,
                        "writeOnly": false,
                        "items": {
                            "$ref": "#/components/schemas/TabTextWaitingScreen_5ad76a29990cb"
                        }
                    }
                },
                "required": [
                    "name",
                    "status",
                    "avatar_uuid"
                ]
            },
            "CashRegisterQrCode": {
                "type": "object",
                "properties": {
                    "status": {
                        "type": "string",
                        "description": "The status of the QR code. ACTIVE or INACTIVE. Only one QR code can be ACTIVE for a CashRegister at any time. Setting a QR code to ACTIVE will deactivate any other CashRegister QR codes.",
                        "readOnly": false,
                        "writeOnly": false
                    }
                },
                "required": [
                    "status"
                ]
            },
            "CashRegisterQrCodeContent_5ad76a2997e49": {
                "type": "object",
                "properties": [],
                "required": []
            },
            "CashRegisterQrCode_5ad76a299858f": {
                "type": "object",
                "properties": {
                    "status": {
                        "type": "string",
                        "description": "The status of this QR code. If the status is \"ACTIVE\" the QR code can be scanned to see the linked CashRegister and tab. If the status is \"INACTIVE\" the QR code does not link to a anything.",
                        "readOnly": false,
                        "writeOnly": false
                    },
                    "id": {
                        "type": "integer",
                        "description": "The id of the created QR code. Use this id to get the RAW content of the QR code with: ../qr-code/{id}/content",
                        "readOnly": true,
                        "writeOnly": false
                    },
                    "created": {
                        "type": "string",
                        "description": "The timestamp of the QR code's creation.",
                        "readOnly": true,
                        "writeOnly": false
                    },
                    "updated": {
                        "type": "string",
                        "description": "The timestamp of the TokenQrCashRegister's last update.",
                        "readOnly": true,
                        "writeOnly": false
                    },
                    "cash_register": {
                        "type": "object",
                        "description": "The CashRegister that is linked to the token.",
                        "readOnly": true,
                        "writeOnly": false,
                        "$ref": "#/components/schemas/CashRegister_5ad76a2998b34"
                    },
                    "tab_object": {
                        "type": "object",
                        "description": "Holds the Tab object. Can be TabUsageSingle, TabUsageMultiple or null",
                        "readOnly": true,
                        "writeOnly": false,
                        "$ref": "#/components/schemas/Tab_5ad76a29999f5"
                    }
                },
                "required": []
            },
            "CashRegister_5ad76a2998b34": {
                "type": "object",
                "properties": {
                    "name": {
                        "type": "string",
                        "description": "The name of the CashRegister.",
                        "readOnly": false,
                        "writeOnly": false
                    },
                    "status": {
                        "type": "string",
                        "description": "The status of the CashRegister. Can be PENDING_APPROVAL, ACTIVE, DENIED or CLOSED.",
                        "readOnly": false,
                        "writeOnly": false
                    },
                    "avatar_uuid": {
                        "type": "string",
                        "description": "The UUID of the avatar of the CashRegister. Use the calls /attachment-public and /avatar to create a new Avatar and get its UUID.",
                        "readOnly": false,
                        "writeOnly": true
                    },
                    "location": {
                        "type": "object",
                        "description": "The geolocation of the CashRegister. Can be null.",
                        "readOnly": false,
                        "writeOnly": false,
                        "$ref": "#/components/schemas/Geolocation_5ad76a210b68b"
                    },
                    "notification_filters": {
                        "type": "array",
                        "description": "The types of notifications that will result in a push notification or URL callback for this CashRegister.",
                        "readOnly": false,
                        "writeOnly": false,
                        "items": {
                            "$ref": "#/components/schemas/NotificationFilter_5ad76a2998ece"
                        }
                    },
                    "tab_text_waiting_screen": {
                        "type": "array",
                        "description": "The tab text for waiting screen of CashRegister.",
                        "readOnly": false,
                        "writeOnly": false,
                        "items": {
                            "$ref": "#/components/schemas/TabTextWaitingScreen_5ad76a29990cb"
                        }
                    },
                    "id": {
                        "type": "integer",
                        "description": "The id of the created CashRegister.",
                        "readOnly": true,
                        "writeOnly": false
                    },
                    "created": {
                        "type": "string",
                        "description": "The timestamp of the CashRegister's creation.",
                        "readOnly": true,
                        "writeOnly": false
                    },
                    "updated": {
                        "type": "string",
                        "description": "The timestamp of the CashRegister's last update.",
                        "readOnly": true,
                        "writeOnly": false
                    },
                    "avatar": {
                        "type": "object",
                        "description": "The Avatar of the CashRegister.",
                        "readOnly": true,
                        "writeOnly": false,
                        "$ref": "#/components/schemas/Avatar_5ad76a297691b"
                    }
                },
                "required": [
                    "avatar_uuid",
                    "avatar_uuid",
                    "avatar_uuid",
                    "avatar_uuid",
                    "avatar_uuid",
                    "avatar_uuid",
                    "avatar_uuid",
                    "avatar_uuid"
                ]
            },
            "CertificatePinned": {
                "type": "object",
                "properties": {
                    "certificate_chain": {
                        "type": "array",
                        "description": "The certificate chain in .PEM format.",
                        "readOnly": false,
                        "writeOnly": false,
                        "items": {
                            "$ref": "#/components/schemas/Certificate_5ad76a29c1cad"
                        }
                    }
                },
                "required": [
                    "certificate_chain"
                ]
            },
            "CertificatePinned_5ad76a29c1d19": {
                "type": "object",
                "properties": {
                    "certificate_chain": {
                        "type": "string",
                        "description": "The certificate chain in .PEM format. Certificates are glued with newline characters.",
                        "readOnly": false,
                        "writeOnly": false
                    },
                    "id": {
                        "type": "integer",
                        "description": "The id generated for the pinned certificate chain.",
                        "readOnly": true,
                        "writeOnly": false
                    }
                },
                "required": []
            },
            "Certificate_5ad76a29c1cad": {
                "type": "object",
                "properties": {
                    "certificate": {
                        "type": "string",
                        "description": "A single certificate in the chain in .PEM format.",
                        "readOnly": false,
                        "writeOnly": false
                    }
                },
                "required": []
            },
            "ChatConversationReference_5ad76a2382e15": {
                "type": "object",
                "properties": {
                    "id": {
                        "type": "integer",
                        "description": "The id of this conversation.",
                        "readOnly": true,
                        "writeOnly": false
                    },
                    "created": {
                        "type": "string",
                        "description": "The timestamp the conversation reference was created.",
                        "readOnly": true,
                        "writeOnly": false
                    },
                    "updated": {
                        "type": "string",
                        "description": "The timestamp the conversation reference was last updated.",
                        "readOnly": true,
                        "writeOnly": false
                    }
                },
                "required": []
            },
            "ChatConversationSupportExternal_5ad76a20f10b9": {
                "type": "object",
                "properties": {
                    "id": {
                        "type": "integer",
                        "description": "The id of this conversation.",
                        "readOnly": true,
                        "writeOnly": false
                    },
                    "created": {
                        "type": "string",
                        "description": "The timestamp of the support conversation's creation.",
                        "readOnly": true,
                        "writeOnly": false
                    },
                    "updated": {
                        "type": "string",
                        "description": "The timestamp of the support conversation's last update.",
                        "readOnly": true,
                        "writeOnly": false
                    },
                    "last_message": {
                        "type": "object",
                        "description": "The last message posted to this conversation if any.",
                        "readOnly": true,
                        "writeOnly": false,
                        "$ref": "#/components/schemas/ChatMessage_5ad76a20f14a7"
                    }
                },
                "required": []
            },
            "ChatConversation_5ad76a20f0de6": {
                "type": "object",
                "properties": {
                    "SupportConversationExternal": {
                        "type": "object",
                        "description": "",
                        "readOnly": true,
                        "writeOnly": false,
                        "$ref": "#/components/schemas/ChatConversationSupportExternal_5ad76a20f10b9"
                    },
                    "ChatConversationReference": {
                        "type": "object",
                        "description": "",
                        "readOnly": true,
                        "writeOnly": false,
                        "$ref": "#/components/schemas/ChatConversationReference_5ad76a2382e15"
                    }
                },
                "required": []
            },
            "ChatMessageAnnouncement_5ad76a20f1b40": {
                "type": "object",
                "properties": {
                    "id": {
                        "type": "integer",
                        "description": "The id of the message.",
                        "readOnly": true,
                        "writeOnly": false
                    },
                    "created": {
                        "type": "string",
                        "description": "The timestamp when the message was created.",
                        "readOnly": true,
                        "writeOnly": false
                    },
                    "updated": {
                        "type": "string",
                        "description": "The timestamp when the message was last updated.",
                        "readOnly": true,
                        "writeOnly": false
                    },
                    "conversation_id": {
                        "type": "integer",
                        "description": "The id of the conversation this message belongs to.",
                        "readOnly": true,
                        "writeOnly": false
                    },
                    "creator": {
                        "type": "object",
                        "description": "The user who initiated the action that caused this message to appear.",
                        "readOnly": true,
                        "writeOnly": false,
                        "$ref": "#/components/schemas/LabelUser_5ad76a20e5318"
                    },
                    "content": {
                        "type": "object",
                        "description": "The content of this message.",
                        "readOnly": true,
                        "writeOnly": false,
                        "$ref": "#/components/schemas/ChatMessageContent_5ad76a20f2274"
                    }
                },
                "required": []
            },
            "ChatMessageAttachment": {
                "type": "object",
                "properties": {
                    "attachment": {
                        "type": "object",
                        "description": "The attachment contained in this message.",
                        "readOnly": false,
                        "writeOnly": true,
                        "$ref": "#/components/schemas/BunqId_5ad76a2120ad1"
                    }
                },
                "required": [
                    "attachment"
                ]
            },
            "ChatMessageAttachment_5ad76a2632b25": {
                "type": "object",
                "properties": {
                    "attachment": {
                        "type": "object",
                        "description": "The attachment contained in this message.",
                        "readOnly": false,
                        "writeOnly": true,
                        "$ref": "#/components/schemas/BunqId_5ad76a2120ad1"
                    },
                    "id": {
                        "type": "integer",
                        "description": "The id of the newly created chat message.",
                        "readOnly": true,
                        "writeOnly": false
                    }
                },
                "required": [
                    "attachment"
                ]
            },
            "ChatMessageContentAnchorEvent_5ad76a20f247e": {
                "type": "object",
                "properties": {
                    "anchored_object": {
                        "type": "object",
                        "description": "An anchored object. Can be one of: CardDebit, CardPinChange, CardResult, DraftPayment, IdealMerchantTransaction, Invoice, Payment, PaymentBatch, PromotionDisplay, RequestInquiryBatch, RequestInquiry, RequestResponse, ScheduledPaymentBatch, ScheduledPayment, ScheduledRequestInquiryBatch, ScheduledRequestInquiry, ScheduledInstance, ShareInviteBankInquiry, ShareInviteBankResponse, UserCredentialPasswordIp",
                        "readOnly": true,
                        "writeOnly": false,
                        "$ref": "#/components/schemas/AnchoredObject_5ad76a20f29a1"
                    }
                },
                "required": []
            },
            "ChatMessageContentAttachment_5ad76a21d2c13": {
                "type": "object",
                "properties": {
                    "attachment": {
                        "type": "object",
                        "description": "An attachment.",
                        "readOnly": true,
                        "writeOnly": false,
                        "$ref": "#/components/schemas/Attachment_5ad76a2138f81"
                    }
                },
                "required": []
            },
            "ChatMessageContentGeolocation_5ad76a21d2f59": {
                "type": "object",
                "properties": {
                    "geolocation": {
                        "type": "object",
                        "description": "A geolocation, using WGS 84 coordinates.",
                        "readOnly": true,
                        "writeOnly": false,
                        "$ref": "#/components/schemas/Geolocation_5ad76a210b68b"
                    }
                },
                "required": []
            },
            "ChatMessageContentStatusConversationTitle_5ad76a21d3365": {
                "type": "object",
                "properties": {
                    "title": {
                        "type": "string",
                        "description": "The new title of a conversation.",
                        "readOnly": true,
                        "writeOnly": false
                    }
                },
                "required": []
            },
            "ChatMessageContentStatusConversation_5ad76a21d3518": {
                "type": "object",
                "properties": {
                    "action": {
                        "type": "string",
                        "description": "Action which occurred over a conversation. Always CONVERSATION_CREATED",
                        "readOnly": true,
                        "writeOnly": false
                    }
                },
                "required": []
            },
            "ChatMessageContentStatusMembership_5ad76a21d379c": {
                "type": "object",
                "properties": {
                    "action": {
                        "type": "string",
                        "description": "Action which occurred over a member. Could be MEMBER_ADDED or MEMBER_REMOVED",
                        "readOnly": true,
                        "writeOnly": false
                    },
                    "member": {
                        "type": "object",
                        "description": "The member over which the action has occurred.",
                        "readOnly": true,
                        "writeOnly": false,
                        "$ref": "#/components/schemas/LabelUser_5ad76a20e5318"
                    }
                },
                "required": []
            },
            "ChatMessageContentText_5ad76a21d3fa6": {
                "type": "object",
                "properties": {
                    "text": {
                        "type": "string",
                        "description": "The text of the message.",
                        "readOnly": true,
                        "writeOnly": false
                    }
                },
                "required": []
            },
            "ChatMessageContent_5ad76a20f2274": {
                "type": "object",
                "properties": {
                    "ChatMessageContentAnchorEvent": {
                        "type": "object",
                        "description": "",
                        "readOnly": true,
                        "writeOnly": false,
                        "$ref": "#/components/schemas/ChatMessageContentAnchorEvent_5ad76a20f247e"
                    },
                    "ChatMessageContentAttachment": {
                        "type": "object",
                        "description": "",
                        "readOnly": true,
                        "writeOnly": false,
                        "$ref": "#/components/schemas/ChatMessageContentAttachment_5ad76a21d2c13"
                    },
                    "ChatMessageContentGeolocation": {
                        "type": "object",
                        "description": "",
                        "readOnly": true,
                        "writeOnly": false,
                        "$ref": "#/components/schemas/ChatMessageContentGeolocation_5ad76a21d2f59"
                    },
                    "ChatMessageContentStatusConversationTitle": {
                        "type": "object",
                        "description": "",
                        "readOnly": true,
                        "writeOnly": false,
                        "$ref": "#/components/schemas/ChatMessageContentStatusConversationTitle_5ad76a21d3365"
                    },
                    "ChatMessageContentStatusConversation": {
                        "type": "object",
                        "description": "",
                        "readOnly": true,
                        "writeOnly": false,
                        "$ref": "#/components/schemas/ChatMessageContentStatusConversation_5ad76a21d3518"
                    },
                    "ChatMessageContentStatusMembership": {
                        "type": "object",
                        "description": "",
                        "readOnly": true,
                        "writeOnly": false,
                        "$ref": "#/components/schemas/ChatMessageContentStatusMembership_5ad76a21d379c"
                    },
                    "ChatMessageContentText": {
                        "type": "object",
                        "description": "",
                        "readOnly": true,
                        "writeOnly": false,
                        "$ref": "#/components/schemas/ChatMessageContentText_5ad76a21d3fa6"
                    }
                },
                "required": []
            },
            "ChatMessageStatus_5ad76a21d44d5": {
                "type": "object",
                "properties": {
                    "id": {
                        "type": "integer",
                        "description": "The id of the message.",
                        "readOnly": true,
                        "writeOnly": false
                    },
                    "created": {
                        "type": "string",
                        "description": "The timestamp when the message was created.",
                        "readOnly": true,
                        "writeOnly": false
                    },
                    "updated": {
                        "type": "string",
                        "description": "The timestamp when the message was last updated.",
                        "readOnly": true,
                        "writeOnly": false
                    },
                    "conversation_id": {
                        "type": "integer",
                        "description": "The id of the conversation this message belongs to.",
                        "readOnly": true,
                        "writeOnly": false
                    },
                    "creator": {
                        "type": "object",
                        "description": "The user who initiated the action that caused this message to appear.",
                        "readOnly": true,
                        "writeOnly": false,
                        "$ref": "#/components/schemas/LabelUser_5ad76a20e5318"
                    },
                    "content": {
                        "type": "object",
                        "description": "The content of this message.",
                        "readOnly": true,
                        "writeOnly": false,
                        "$ref": "#/components/schemas/ChatMessageContent_5ad76a20f2274"
                    }
                },
                "required": []
            },
            "ChatMessageText": {
                "type": "object",
                "properties": {
                    "text": {
                        "type": "string",
                        "description": "The textual content of this message. Cannot be empty.",
                        "readOnly": false,
                        "writeOnly": true
                    }
                },
                "required": [
                    "text"
                ]
            },
            "ChatMessageText_5ad76a2633461": {
                "type": "object",
                "properties": {
                    "text": {
                        "type": "string",
                        "description": "The textual content of this message. Cannot be empty.",
                        "readOnly": false,
                        "writeOnly": true
                    },
                    "id": {
                        "type": "integer",
                        "description": "The id of the newly created chat message.",
                        "readOnly": true,
                        "writeOnly": false
                    }
                },
                "required": [
                    "text"
                ]
            },
            "ChatMessageUser_5ad76a22a9e3a": {
                "type": "object",
                "properties": {
                    "id": {
                        "type": "integer",
                        "description": "The id of the message.",
                        "readOnly": true,
                        "writeOnly": false
                    },
                    "created": {
                        "type": "string",
                        "description": "The timestamp when the message was created.",
                        "readOnly": true,
                        "writeOnly": false
                    },
                    "updated": {
                        "type": "string",
                        "description": "The timestamp when the message was last updated.",
                        "readOnly": true,
                        "writeOnly": false
                    },
                    "conversation_id": {
                        "type": "integer",
                        "description": "The id of the conversation this message belongs to.",
                        "readOnly": true,
                        "writeOnly": false
                    },
                    "creator": {
                        "type": "object",
                        "description": "The user who initiated the action that caused this message to appear.",
                        "readOnly": true,
                        "writeOnly": false,
[...]
