@import "_variables.scss";

html {
    height: 100%;
}

body {
    position: relative;
    margin: 0;
    background-color: $color-white;
    color: $color-grey-dark;
}

.header {
    position: fixed;
    top: 0;
    width: 100%;
    height: $height-header;
    z-index: $z-index-max;
    background-image: $asset-rainbow;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.react-root {
    position: absolute;
    top: $height-header;
    display: flex;
    justify-content: center;
    width: 100%;

    .wrapper {
        display: flex;
        flex: 1;
    }

    .swagger-ui {
        flex-grow: 1;
        height: $height-viewport;
        overflow-y: auto;
    }

    .information-container {
        padding: 0;
    }
}

.swagger-ui {
    padding: 0 $spacer-medium;

    .information-container {
        section {
            max-width: $max-width-section-information;
            margin-left: auto;
            margin-right: auto;
        }
    }

    .info {
        a {
            color: $color-link
        }

        pre {
            overflow-x: auto;
            font-family: "Source Code Pro", monospace;
        }

        table {
            th,
            td {
                white-space: normal;
                word-break: break-word;

                &:first-of-type {
                    word-break: normal;

                    @media (min-width: $width-viewport-small) {
                        white-space: nowrap;
                    }
                }
            }
        }
    }

    table {
        color: $color-grey-dark;

        th,
        td {
            padding-left: $padding-left-table-column !important;

            &:first-of-type {
                padding-left: 0;
            }
        }
    }

    .model {
        .renderedMarkdown {
            word-break: break-word;
        }
    }

    .opblock-tag {
        border-bottom: none;
    }

    .opblock {
        &.opblock-delete {
            border-color: $color-delete;
            background-color: $color-delete-rgba;

            &.opblock-summary-delete {
                border-color: $color-delete;

                .opblock-summary-method {
                    background-color: $color-delete;
                }
            }
        }

        &.opblock-get{
            border-color: $color-get;
            background-color: $color-get-rgba;

            &.opblock-summary-get {
                border-color: $color-get;

                .opblock-summary-method {
                    background-color: $color-get;
                }
            }
        }

        &.opblock-head {
            border-color: $color-head;
            background-color: $color-head-rgba;

            &.opblock-summary-head {
                border-color: $color-head;

                .opblock-summary-method {
                    background-color: $color-head;
                }
            }
        }

        &.opblock-post {
            border-color: $color-post;
            background-color: $color-post-rgba;

            &.opblock-summary-post {
                border-color: $color-post;

                .opblock-summary-method {
                    background-color: $color-post;
                }
            }
        }

        &.opblock-put {
            border-color: $color-put;
            background-color: $color-put-rgba;

            &.opblock-summary-put {
                border-color: $color-put;

                .opblock-summary-method {
                    background-color: $color-put;
                }
            }
        }
    }
}
