@font-face {
    font-family: "Montserrat";
    src: url("https://static.bunq.com/assets/fonts/Montserrat-Bold.ttf") format("truetype");
    font-style: normal;
    font-weight: 800;
}

@font-face {
    font-family: "Montserrat";
    src: url("https://static.bunq.com/assets/fonts/Montserrat-Regular.ttf") format("truetype");
    font-style: normal;
    font-weight: 500;
}

@import url("https://fonts.googleapis.com/css?family=Source+Code+Pro:400");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400");
